.container {
  width: 100%;
}

mat-card {
  margin: 1.05rem 1.5rem;
}

mat-toolbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lissons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  &__button {
    margin-left: 1.5rem;
  }
}

mat-card-subtitle {
  color: gainsboro;
}

form {
  display: flex;
  flex-direction: column;
}

.loading-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding-right: 1.5rem;
}

mat-form-field {
  padding-bottom: 0.65rem;
}

.full-width {
  width: 100%;
}