<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-toolbar color="primary">
        <mat-card-title>Realizar o cadastro</mat-card-title>
        <mat-card-subtitle>Crie uma conta para acessar a plataforma</mat-card-subtitle>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Mário" type="text" formControlName="firstname" minlength="2" maxlength="100">
          <mat-hint>Hint</mat-hint>
          @if (form.get('firstname')?.invalid) {
          <mat-error>
            {{ formUtilsService.getErrorMessage(form, 'firstname') }}
          </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sobrenome</mat-label>
          <input matInput placeholder="Silva" type="text" formControlName="lastname" minlength="2" maxlength="100">
          @if (form.get('lastname')?.invalid) {
          <mat-error>
            {{ formUtilsService.getErrorMessage(form, 'lastname') }}
          </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de nascimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" readonly>
          <mat-hint>Dia/Mês/Ano</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (form.get('dateOfBirth')?.invalid) {
          <mat-error>
            {{ formUtilsService.getErrorMessage(form, 'dateOfBirth') }}
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="mario@email.com" type="email" formControlName="email" minlength="2" maxlength="100">
          @if (form.get('email')?.invalid) {
          <mat-error>
            {{ formUtilsService.getErrorMessage(form, 'email') }}
          </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input #passwordInput [type]="passwordHidden ? 'text' : 'password'" matInput placeholder="********"
            formControlName="password" minlength="8" maxlength="100">
          <mat-icon (click)="togglePasswordHidden()" matSuffix>{{ 
              passwordHidden 
              ? 'visibility_off' 
              : 'visibility'
            }}</mat-icon>
          @if (form.get('passwordConfirmation')?.invalid) {
            <mat-error>
              {{ formUtilsService.getErrorMessage(form, 'password') }}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirmação de Senha.</mat-label>
          <input [type]="passwordConfirmationHidden ? 'text' : 'password'" matInput placeholder="********"
            formControlName="passwordConfirmation" minlength="8" maxlength="100">
          <mat-icon (click)="togglePasswordConfirmationHidden()" matSuffix>{{ 
            passwordConfirmationHidden 
              ? 'visibility_off' 
              : 'visibility' 
            }}</mat-icon>
          @if (form.get('passwordConfirmation')?.invalid) {
            <mat-error>
              {{ formUtilsService.getErrorMessage(form, 'passwordConfirmation') }}
            </mat-error>
          }
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" matTooltip="'Enter' para logar"
        (click)="onClickSignup()">Cadastrar</button>
      <button mat-stroked-button style="margin-left: 1.05rem;" matTooltip="'ESC' para cancelar">Já tenho
        conta...</button>
    </mat-card-actions>
  </mat-card>
</div>