
@if (!isLoadingCourses) {
  <table mat-table [dataSource]="courses" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element">
        {{ element.category.name | categoryUppercase }}
        <mat-icon fontIcon="{{ element.category.name | category }}"></mat-icon>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 1.9rem;">
        <button mat-mini-fab color="accent" matTooltip="'Alt + N' para adicionar um curso" aria-label="Adicionar um curso"
          (click)="onClickNew()">
          <mat-icon fontIcon="add"></mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let course">
        <button mat-icon-button color="secondary" matTooltip="Mostrar esse curso" aria-label="Mostrar esse curso" (click)="onClickShowCourse(course)">
          <mat-icon fontIcon="description"></mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Editar esse curso" aria-label="Editar um curso" (click)="onClickEdit(course)">
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Remover esse curso" aria-label="Remover um curso" (click)="onClickDelete(course.id)">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <tr class="mat-row no-data-row" *matNoDataRow>
      <td  class="mat-cell"  [attr.colspan]="displayedColumns.length">
        <div class="no-data-cell">
          Nenhum curso encontrado.
        </div>
        <div class="no-data-cell">
          Clique no botão + para adicionar um novo
        </div>
      </td>
    </tr>
  </table>
} @else {
  <ng-template #loadingSpinner>
    <mat-spinner class="loading-spinner"></mat-spinner>
  </ng-template>
}
